* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
}

// * Home Page 

.home-container {
  height: 1500px;
  background-color: bisque;
}
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
.home-title {
  text-align: center;
  font-size: 50px;
  font-style: italic;  
  font-weight: bold;
}
.home-defintion {
  text-align: center;
  font-size: 20px;
  font-style: italic;  
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 0 0 60px 0;
}
.button-container {
  text-align: center;
  padding: 60px 0 0 0;
  display: flex;
  justify-content: center;
}
.button {
  margin: 20px;
}

// * Library Page

.library-header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}
.search-bar {
  padding: 20px 0 0 50px;
}
.book-button {
  padding: 0 10px 0 0;
  color: black;
}
.section {
  background-color: bisque
}


.bookImage {
  width: 226px;
  height: 346px;
  border-radius: 5px;
  border: gray solid 1.5px;
}

// * Navbar

.navbar {
  padding: 10px 10px 0px 10px;
  background-color: bisque;
}
.logo {
  height: 30px;
  width: 30px;
  margin: 3px 0 0 0;
}
.home, .library, .favourites {
  padding: 5px 0 0 20px;
  color: black;
}
.login, .register {
  padding: 5px 20px 0 0; 
  color: black;
}

// * Favourite Page

.favouriteImage {
  max-width: 40px;
  max-height: 40px;
} 
.input {
  width: 600px;
}

// * Login Page

.login-container {
  background-color: bisque;
  height: 1500px;
}
.login-button {
  display: flex;
  justify-content: flex-end;
}
.register-reminder {
  padding: 80px 0 0 0;
  text-align: center;
}


// * Register Page

.register-container {
  background-color: bisque;
  height: 1500px;
}
.username-text, .email-text, .password-text, .password-confirmation-text, .profile-image-text {
  font-size: 20px;
  padding: 0 0 30px 0;
  
}
.form-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}
.form-field-image {
  padding: 10px 0 0 0;
}
.register-button {
  display: flex;
  justify-content: flex-end;
}
.login-reminder {
  padding: 80px 0 0 0;
  text-align: center;
}
.register-image-text {
  padding: 20px 10px 0 0;
  font-size: 20px;
}

// * Add Book Page

.add-book-container {
  background-color: bisque;
  height: 1500px;
}
.card-block {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}
.form-field {
  padding: 10px 0;
}
.add-button {
  display: flex;
  justify-content: flex-end;
}
.card-title-text, .card-author-text {
  font-size: 20px;
}
.card-image-text {
  padding: 0 10px 0 0;
  font-size: 20px;
}
.custom-file-upload {
  padding: 2px 4px;
  margin :0 1px 1px 0;
  border-radius: 5px;
  border: 1.5px gray solid;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300px;
  color: white;
  background-color: black;
  text-align: center;
}
input[type="file"] {
  display: none;
}

// * Book Card

.book-card {
  background-color: bisque;
}
.card-content {
  max-width: 300px;
  text-align: center;  
}
.card-image {
  margin: 15px;
}

