* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.bookImage {
  max-width: 200px;
  max-height: 400px;
}

.Navbar {
  background-color: rgb(12, 151, 7);
  display: flex;
  justify-content: space-between;
}
  
